<%= form_for @changeset, Routes.product_path(@conn, :create),[], fn f -> %>
 <%= render(PhoenixCourseWeb.ProductView, "form.html", changeset: @changeset, form: f, categories: @categories) %>
<% end %>