<%= form_for @changeset, Routes.order_path(@conn, :create), [], fn f -> %>
 <%= render(PhoenixCourseWeb.OrderView, "form.html", changeset: @changeset, form: f , users: @users, products: @products) %>
<% end %>