/* This file is for your main application css. */

@import ".././node_modules/bootstrap/dist/css/bootstrap.css";

.help-block{
  color: red;
}
.footer {
  background-color: #f5f5f5;
  text-align: center;
}